<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <value name="name">SMUD_CustomerPreferences</value>
    <value name="description">API to get and create notification preferences</value>
    <number name="lastUploadedTime" type="java.lang.Long">1766624250605</number>
    <number name="lastSavedTime" type="java.lang.Long">1766624252626</number>
    <array name="packages" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="package">SmCustomerPreference</value>
        <array name="details" type="record" depth="1">
          <record javaclass="com.wm.data.ISMemDataImpl">
            <value name="serviceName">smud.customer.preference:deletePreference</value>
            <value name="displayName">deletePreference</value>
            <jboolean name="isShared">true</jboolean>
            <jboolean name="useBatch">false</jboolean>
          </record>
          <record javaclass="com.wm.data.ISMemDataImpl">
            <value name="serviceName">smud.customer.preference:getPreferencesByBP</value>
            <value name="displayName">getPreferencesByBP</value>
            <jboolean name="isShared">true</jboolean>
            <jboolean name="useBatch">false</jboolean>
          </record>
          <record javaclass="com.wm.data.ISMemDataImpl">
            <value name="serviceName">smud.customer.preference:manageOutageSearchOptOut</value>
            <value name="displayName">manageOutageSearchOptOut</value>
            <jboolean name="isShared">true</jboolean>
            <jboolean name="useBatch">false</jboolean>
          </record>
          <record javaclass="com.wm.data.ISMemDataImpl">
            <value name="serviceName">smud.customer.preference:managePreferenceByValue</value>
            <value name="displayName">managePreferenceByValue</value>
            <jboolean name="isShared">true</jboolean>
            <jboolean name="useBatch">false</jboolean>
          </record>
          <record javaclass="com.wm.data.ISMemDataImpl">
            <value name="serviceName">smud.customer.preference:smsOptOut</value>
            <value name="displayName">smsOptOut</value>
            <jboolean name="isShared">true</jboolean>
            <jboolean name="useBatch">false</jboolean>
          </record>
          <record javaclass="com.wm.data.ISMemDataImpl">
            <value name="serviceName">smud.customer.preference:upsertPreference</value>
            <value name="displayName">upsertPreference</value>
            <jboolean name="isShared">true</jboolean>
            <jboolean name="useBatch">false</jboolean>
          </record>
        </array>
      </record>
    </array>
    <array name="connections" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="connectionName">SMUD Cloud iPaas</value>
        <value name="connectionStage">stage00</value>
        <value name="tenantAlias">Dev io</value>
      </record>
    </array>
    <array name="tenantAliases" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="tenantAlias">Dev io</value>
      </record>
    </array>
  </record>
</IDataXMLCoder>
