<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <value name="name">SMUD_CustomerMoves</value>
    <value name="description">functionality for move services</value>
    <number name="lastUploadedTime" type="java.lang.Long">1717607653432</number>
    <number name="lastSavedTime" type="java.lang.Long">1717607656437</number>
    <array name="packages" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="package">SmCustomerMove</value>
        <array name="details" type="record" depth="1">
          <record javaclass="com.wm.data.ISMemDataImpl">
            <value name="serviceName">smud.customer.moves.flow.utils:queueBlendedAgentEmail</value>
            <value name="displayName">queueBlendedAgentEmail</value>
            <jboolean name="isShared">true</jboolean>
            <jboolean name="useBatch">true</jboolean>
          </record>
          <record javaclass="com.wm.data.ISMemDataImpl">
            <value name="serviceName">smud.customer.moves.flow:blendedAgentEmail</value>
            <value name="displayName">blendedAgentEmail</value>
            <jboolean name="isShared">true</jboolean>
            <jboolean name="useBatch">true</jboolean>
          </record>
        </array>
      </record>
    </array>
    <array name="connections" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="connectionName">SMUD Cloud iPaas</value>
        <value name="connectionStage">stage00</value>
        <value name="tenantAlias">Dev io</value>
      </record>
    </array>
    <array name="tenantAliases" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="tenantAlias">Dev io</value>
      </record>
    </array>
  </record>
</IDataXMLCoder>
