<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <value name="name">SMUD_Mobile_App</value>
    <value name="description">Package of services to support SMUD's mobile app</value>
    <number name="lastUploadedTime" type="java.lang.Long">1718210610301</number>
    <number name="lastSavedTime" type="java.lang.Long">1718210612290</number>
    <array name="packages" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="package">SmSSO</value>
        <array name="details" type="record" depth="1">
          <record javaclass="com.wm.data.ISMemDataImpl">
            <value name="serviceName">SmSSO.flow:readJWT</value>
            <value name="displayName">readJWT</value>
            <jboolean name="isShared">true</jboolean>
            <jboolean name="useBatch">false</jboolean>
          </record>
        </array>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="package">SmMobile</value>
        <array name="details" type="record" depth="1">
          <record javaclass="com.wm.data.ISMemDataImpl">
            <value name="serviceName">SmMobile.security.flow:Mobile_AccountSummary_get</value>
            <value name="displayName">Mobile_AccountSummary_get</value>
            <jboolean name="isShared">true</jboolean>
            <jboolean name="useBatch">false</jboolean>
          </record>
        </array>
      </record>
    </array>
    <array name="connections" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="connectionName">SMUD Cloud iPaas</value>
        <value name="connectionStage">stage00</value>
        <value name="tenantAlias">Dev io</value>
      </record>
    </array>
    <array name="tenantAliases" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="tenantAlias">Dev io</value>
      </record>
    </array>
  </record>
</IDataXMLCoder>
