<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <value name="name">SMUD_Payments</value>
    <value name="description">Payment services for real time payment processing</value>
    <number name="lastUploadedTime" type="java.lang.Long">1718211827710</number>
    <number name="lastSavedTime" type="java.lang.Long">1718211830200</number>
    <array name="packages" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="package">SmPayment</value>
        <array name="details" type="record" depth="1">
          <record javaclass="com.wm.data.ISMemDataImpl">
            <value name="serviceName">smud.payment.flow:checkPaymentEligibility</value>
            <value name="displayName">checkPaymentEligibility</value>
            <jboolean name="isShared">true</jboolean>
            <jboolean name="useBatch">false</jboolean>
          </record>
          <record javaclass="com.wm.data.ISMemDataImpl">
            <value name="serviceName">smud.payment.flow:createPaymentSubledger</value>
            <value name="displayName">createPaymentSubledger</value>
            <jboolean name="isShared">true</jboolean>
            <jboolean name="useBatch">false</jboolean>
          </record>
        </array>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="package">SmPaymentArrangements</value>
        <array name="details" type="record" depth="1">
          <record javaclass="com.wm.data.ISMemDataImpl">
            <value name="serviceName">smud.payment.arrangements.eligibility.flow:getPaymentArrangementEligibility</value>
            <value name="displayName">getPaymentArrangementEligibility</value>
            <jboolean name="isShared">true</jboolean>
            <jboolean name="useBatch">false</jboolean>
          </record>
        </array>
      </record>
    </array>
    <array name="connections" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="connectionName">SMUD Cloud iPaas</value>
        <value name="connectionStage">stage00</value>
        <value name="tenantAlias">Dev io</value>
      </record>
    </array>
    <array name="tenantAliases" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="tenantAlias">Dev io</value>
      </record>
    </array>
  </record>
</IDataXMLCoder>
