applicationName=SMUD_CustomerUpdates
applicationDescription=Exposing functionality that can update SAP customer records
details=SmVendorSEW,smud.vendor.sew:updatePassword,updatePassword,true,false;SmSystemSAP,SmSystemSAP.customer.account.admin.flow:changeAddress,changeAddress,true,false;SmSystemSAP,smud.system.sap.customer:createPhoneNumber,createPhoneNumber,false,false;SmSystemSAP,smud.system.sap.customer:updatePhoneNumber,updatePhoneNumber,false,false;SmCustomerPreference,smud.customer.preference:setIndustryType,setIndustryType,true,false;SmCustomerPreference,smud.customer.preference:setMarketingPreference,setMarketingPreference,true,false;SmCustomerPreference,smud.customer.preference:setOwnerShipStatus,setOwnerShipStatus,true,false;SmCustomerPreference,smud.customer.preference:upsertPhoneNumber,upsertPhoneNumber,true,false;SmCustomerProfile,SmCustomerProfile.api:MyAccount_Profile_Email_MakeEmailPrimary_post,MyAccount_Profile_Email_MakeEmailPrimary_post,true,false;