<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <value name="name">SMUD_EES</value>
    <value name="description">Express Energy Solutions API</value>
    <number name="lastUploadedTime" type="java.lang.Long">1550783623821</number>
    <number name="lastSavedTime" type="java.lang.Long">1541522077055</number>
    <array name="packages" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="package">SmCloudApiEES</value>
        <array name="details" type="record" depth="1">
          <record javaclass="com.wm.data.ISMemDataImpl">
            <value name="serviceName">smud.cloudapi.EES.flow:createTransaction</value>
            <value name="displayName">createTransaction</value>
            <jboolean name="isShared">true</jboolean>
            <jboolean name="useBatch">false</jboolean>
          </record>
          <record javaclass="com.wm.data.ISMemDataImpl">
            <value name="serviceName">smud.cloudapi.EES.flow:getTransactionStatus</value>
            <value name="displayName">getTransactionStatus</value>
            <jboolean name="isShared">true</jboolean>
            <jboolean name="useBatch">false</jboolean>
          </record>
        </array>
      </record>
    </array>
    <array name="connections" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="connectionName">SMUD Cloud iPaas</value>
        <value name="connectionStage">stage00</value>
        <value name="tenantAlias">default</value>
      </record>
    </array>
  </record>
</IDataXMLCoder>
