applicationName=SMUD_SystemOMS
applicationDescription=Outage management system operations
details=SmSystemOMSHandler,smud.system.oms.handler.flow:createOutageReport,createOutageReport,true,false;SmSystemOMSHandler,smud.system.oms.handler.flow:getAuthInfoByPhoneNumber,getAuthInfoByPhoneNumber_v2,true,false;SmSystemOMSHandler,smud.system.oms.handler.flow:getOutageEligibility,getOutageEligibility_v2,true,false;SmSystemOMSHandler,smud.system.oms.handler.flow:getOutageInfo,getOutageInfo_v2,true,false;SmSystemOMS,SmSystemOMS.api:CreateOutageReport_Post,CreateOutageReport_Post,true,false;SmSystemOMS,SmSystemOMS.api:OutageReportAuthorization_Get,OutageReportAuthorization_Get,true,false;SmSystemOMS,smud.system.oms.flows:getOutageEligibility,getOutageEligibility,true,false;SmSystemOMS,smud.system.oms.flows:getOutageInfo,getOutageInfo,true,false;