applicationName=SMUD_Customer
applicationDescription=	Services for customer data - account, usage
details=SmSES_v35,SmSES_v35.customer.grabs.flow:Customer_Grabs_GetUnbilledUsageCost,Customer_Grabs_GetUnbilledUsageCost,true,false;SmCustomerProgram,smud.customer.program.ev:deleteEnrollment,deleteEnrollment,true,false;SmCustomerProgram,smud.customer.program.ev:enrollment,ev_enrollment,true,false;SmCustomerProgram,smud.customer.program.ev:update,ev_update,true,false;SmCustomerProgram,smud.customer.program.flow:validateCustomerEligibilityForRebates,validateCustomerEligibilityForRebates,true,false;SmSystemSAP,SmSystemSAP.customer.program.flow:checkEAPRIncome,checkEAPRIncome,true,false;SmSystemSAP,SmSystemSAP.customer.program.flow:validateResCustomerForHPP,validateResCustomerForHPP,true,false;SmCustomerGrabs,SmCustomerGrabs.flow:Customer_Grabs_GetCustomer,Customer_Grabs_GetCustomer,true,false;SmCustomerProfile,smud.customer.profile:getLinkAccountDetails,getLinkAccountsDetails,true,false;SmMamaOpower,smud.mama.opower:getUserInfo,getUserInfo,true,false;