applicationName=SMUD_UtiliPaaSConnectivity
applicationDescription=Utility for checking connection between iPaaS and on-prem servers
details=SmUtiliPaaSConnectivity,smud.util.ipaasconnectivity:verifyOnPremConnection,verifyOnPremConnection,true,false;